/* CSS Tambahan */
html {
  scroll-behavior: smooth;
}
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


body {
  background-color: #f8f7f7;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.0) !important;
  transition: background-color 0.5s ease;
  /* Efek transisi saat mengubah warna */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar.scrolled {
  position: fixed !important;
  background-color: rgba(5, 5, 5, 0.7) !important;
  /* Warna navbar saat di-scroll */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional: Efek bayangan untuk navbar */
}

.navbar.scrolled .nav-link {
  color: white;
  /* Ubah warna font sesuai keinginan Anda saat digulir */
}

@media(min-width:967px) {

  .navbar.scrolled .navbar-desktop-icon {
    color: white;
  }
}



@media (max-width: 991.98px) {

  /* CSS tambahan untuk tampilan mobile */
  .navbar-toggler {
    margin-right: 0;
    /* Menghapus margin kanan pada toggler */
  }

  .social-links .nav {
    color: white;
    flex-direction: row;
    /* Mengubah tata letak menjadi vertikal */
    justify-content: center;
  }

  .social-links .nav-item {
    margin-right: 0;
    /* Reset margin-right agar tidak ada jarak antar elemen pada tampilan vertikal */
  }

  .social-links .nav-item a {
    text-decoration: none !important;
    color: white;
  }

  .navbar.scrolled .nav-link {
    color: white !important;
    /* Ubah warna font sesuai keinginan Anda saat digulir */
  }

  .navbar.scrolled .navbar-toggler.order-1 {
    color: white !important;
  }

  .navbar.scrolled .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath d='M4 7h22a2 2 0 0 1 0 4H4a2 2 0 0 1 0-4zm0 8h22a2 2 0 0 1 0 4H4a2 2 0 0 1 0-4zm0 8h22a2 2 0 0 1 0 4H4a2 2 0 0 1 0-4z' fill='white'/%3E%3C/svg%3E");
    color:white !important;
    border-color: #fff !important;
    fill: white !important;
  }



  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath d='M4 7h22a2 2 0 0 1 0 4H4a2 2 0 0 1 0-4zm0 8h22a2 2 0 0 1 0 4H4a2 2 0 0 1 0-4zm0 8h22a2 2 0 0 1 0 4H4a2 2 0 0 1 0-4z' fill='black'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    width: 30px;
    /* Sesuaikan ukuran ikon hamburger sesuai kebutuhan */
    height: 30px;
    /* Sesuaikan ukuran ikon hamburger sesuai kebutuhan */
  }


  .navbar.scrolled .navbar-brand.order-3.d-lg-none {
    color: white !important;
  }

  .navbar.scrolled .navbar-collapse {
    background-color: rgba(5, 5, 5, 0.8) !important;
    color: white !important;
    /* Warna navbar saat di-scroll */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Optional: Efek bayangan untuk navbar */
  }

  .navbar.scrolled .navbar-brand.order-5.d-lg-none.ml-auto {
    color: white !important;
  }


  .navbar-collapse {
    position: absolute;
    top: 100%;
    /* Memindahkan navbar ke bawah toggler */
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    /* Warna latar belakang navbar */
    padding: 1rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    /* Efek bayangan */
    z-index: 1000;
    /* Membuat navbar di atas konten lain */
  }

  .navbar-collapse .navbar-nav .nav-link {
    color: white;
  }


  .navbar-brand.order-1.d-lg-none {
    margin-right: auto;
    /* Memindahkan tulisan brand ke kiri */
  }

  .navbar-brand.order-5.d-lg-none {
    margin-left: auto;
    /* Memindahkan icon search ke kanan */
  }

  /* Tampilkan ikon media sosial hanya di tampilan mobile */
  .social-icon {
    display: inline-block;
    color: #fff;
    /* Warna ikon */
    margin-left: 10px;
    /* Spasi antara ikon */
  }
}




/* FixedTopScroll */
#scrollToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
}

#scrollToTopBtn:hover {
  background-color: #0056b3;
}



/* Header*/
.max-height-image-header {
  max-height: 650px;
}

@media(max-width: 767px) {
  .max-height-image-header {
    max-height: auto;
  }

  .max-height-image-header img {
    height: 350px;
    object-fit: cover;
  }
}


/* Carousel-Header-Image */

.location-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  /* Sesuaikan dengan jarak yang diinginkan */
  transform: translateY(-50%);
  color: #000;
  /* Sesuaikan dengan warna ikon yang diinginkan */
}


.search-column {
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.search-column button {
  position: absolute;
  top: 50%;
  right: 0px;
  /* Sesuaikan dengan kebutuhan Anda */
  transform: translateY(-50%);
  background-color: #287f9c;
  /* Warna biru muda */
  border-color: #287f9c;
  /* Warna border yang sama dengan latar belakang */
  color: #fff;
  /* Warna teks */
  border-radius: 5px;
  /* Sesuaikan dengan kebutuhan Anda */
  width: 150px;
  /* Sesuaikan dengan lebar yang diinginkan */
}

.search-input {
  padding-left: 40px;
  /* Sesuaikan dengan jarak yang diinginkan */
}

.search-column button:hover {
  background-color: #3189c4;
  /* Warna biru muda ketika hover */
  border-color: #5a96bf;
  /* Warna border saat hover yang sama dengan latar belakang */
}

.carousel-caption {
  top: 40%;
}

.traver-text,
.search-column {
  margin-top: 20px;
  /* Sesuaikan dengan kebutuhan Anda */
}

.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media(max-width:767px) {

  .carousel-caption {
    top: 50%;
  }

  .traver-text h4 {
    font-size: 14px;
  }

  .traver-text h1 {
    font-size: 22px;
    margin-bottom: -10px;
  }

  .search-column {
    width: 100%;
  }

  .search-column button {
    width: 75px;
    /* Sesuaikan dengan lebar yang diinginkan */
  }

}

/* Testimonial */


.testimonial-section {
  background-color: #f8f9fa;
  /* Warna latar belakang sesuaikan dengan kebutuhan Anda */
  padding: 60px 0;
}

.testimonial-text-main {
  padding: 0 20px 20px 0px;
  margin-bottom: 20px;
  max-width: 500px;
}

.testimonial-text-main h2 {
  margin-right: 40px;
  margin-left: 30px;
}

.testimonial-text {
  margin-bottom: 20px;
  padding: 20px 20px 0 0;
  text-align: justify;
}

.testimonial-container {
  position: relative;
}

.testimonial-card {
  position: relative;
  border-radius: 10px;
  overflow: visible;
  margin-bottom: 20px;
  margin-left: 20px;
  /* Sesuaikan dengan jarak geser ke kanan yang diinginkan */
  padding: 30px;
  /* Sesuaikan dengan padding yang diinginkan */
  background-color: #ffffff;
  /* Warna latar belakang putih */
  box-shadow: 11px 11px 15px 8px rgba(0,0,0,0.75);
  -webkit-box-shadow: 11px 11px 15px 8px rgba(0,0,0,0.75);
  -moz-box-shadow: 11px 11px 15px 8px rgba(0,0,0,0.75);
  /* Tambahkan bayangan */
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.testimonial-card.active {
  opacity: 1;
  display: block;

}

.testimonial-buttons {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.testimonial-button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 0 5px;
}

.testimonial-button.active {
  background-color: #ff5733;
  /* Change to the desired active color */
}

.testimonial-image {
  width: 60px;
  /* Sesuaikan ukuran gambar */
  height: 60px;
  /* Sesuaikan ukuran gambar */
  overflow: hidden;
  border-radius: 50%;
  margin-left: -50px;
  /* Sesuaikan margin ke kiri, lebih besar dari lebar gambar */
  margin-top: -40px;
  /* Sesuaikan margin ke atas, setengah dari tinggi gambar */
  background-color: #3498db;
  /* Warna latar belakang sesuaikan dengan warna yang diinginkan */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}



/* Effect */
.img-hover-zoom-tours-landing {
  height: 280px; /* [1.1] Set it as per your need */
  width:100%;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom-tours-landing img {
  transition: transform .5s ease;
  width:100%;
  height: 280px;
  border-radius: 5px;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom-tours-landing:hover img {
  transform: scale(1.2);
}

.img-hover-zoom-tours-blog {
  height: 250px; /* [1.1] Set it as per your need */
  width:100%;
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom-tours-blog img {
  transition: transform .5s ease;
  width:100%;
  height: 250px;
  border-radius: 5px;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom-tours-blog:hover img {
  transform: scale(1.2);
}

@media(min-width:768px ) and (max-width:1024px){

  .img-hover-zoom-tours-landing {
    height: 190px; /* [1.1] Set it as per your need */
    width:100%;
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom-tours-landing img {
    width:100%;
    height: 190px;
  }



  .img-hover-zoom-tours-blog {
    height: 165px; /* [1.1] Set it as per your need */
    width:100%;
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom-tours-blog img {
    transition: transform .5s ease;
    width:100%;
    height: 165px;
    border-radius: 5px;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom-tours-blog:hover img {
    transform: scale(1.2);
  }
}